html,
body
    height: 100%
    font-family: 'Baskerville' 
    color: $text
    font-size: 14px  
    
.wrapper
    width: 1020px
    padding: 0 15px
    margin: 0 auto
    max-width: 100%   
    &--wide
        width: 1600px 
        
        @media (max-width: 1600px)
            width: 1200px
        
.section
    padding: 90px 0 
    &__title
        font-size: 36px
        color: #040404
        margin-bottom: 40px
        padding-left: 60px
        font-weight: normal     

+placeholder
	opacity: 1