.advantages
	padding-top: 60px

	.section__title
		padding-left: 0
		text-align: center 
		
		@media (min-width: 1201px)
			margin-bottom: 70px 

.advantages-block
	border-left: 30px solid transparent
	width: 1250px
	margin: 0 auto
	max-width: 100% 
	z-index: 1
	position: relative
	
	@media (max-width: 1200px)
		border-left: 0 
	
	.inner
		padding: 65px 85px 40px
		background-color: #EEF9FF  
		position: relative
		z-index: 2 
		@media (max-width: 1200px)
			padding-left: 0
			padding-right: 0  
			
		@media (max-width: 991px)
			padding: 40px 0
			
		@media (max-width: 767px)
			padding-bottom: 0 
	
	.advantages-block__dec
		content: ''
		width: 60px
		height: 100%
		position: absolute
		left: -30px
		top: -30px
		background-color: #B2DFF1   
		z-index: -1 
		
		@media (max-width: 1200px)
			display: none





.advantages-content
	padding-top: 90px
	width: 930px
	margin: 0 auto
	max-width: 100%  
	
	@media (max-width: 1200px)
		padding-top: 60px
		
	@media (max-width: 991px)
		padding-top: 50px  
	
	.section__title
		color: #541484
		padding-left: 0 
		margin-bottom: 0
		text-align: left 
		margin-bottom: 25px 
	
	p
		font-family: $os 
		line-height: 1.5em





.ab-item
	text-align: center
	
	@media (max-width: 767px)
		margin-bottom: 60px 
	
	&__image
		height: 100px
		display: flex
		align-items: center
		justify-content: center
		margin-bottom: 40px 
		
		@media (max-width: 991px)
			margin-bottom: 20px
			height: 80px
			 
		
		img
			display: block
			max-width: 100%
			max-height: 100%  
	
	&__label
		h3
			font-size: 36px
			font-family: $v
			color: #202020
			text-transform: uppercase  
			
			@media (max-width: 991px)
				font-size: 30px 






.order-steps
	padding: 50px 0 80px
	background-color: #000
	color: #fff
	
	@media (max-width: 1200px)
		padding: 30px 0
	

.os-title
	padding: 0 50px
	
	@media (max-width: 767px)
		padding: 0 15px
	
	.section__title
		color: #fff
		padding-left: 0 
		
		@media (max-width: 767px)
			text-align: center
		


.os-block
	margin: 0 auto
	width: 1300px
	max-width: 100% 
	padding-top: 30px 
	
	[class*='col-']:last-child
		.os-item:after
			display: none
	

.form-group.audioGroup 
	margin-bottom: 45px 


.os-item
	text-align: center
	padding: 0 15px
	position: relative
	
	@media (max-width: 767px)
		margin-bottom: 70px 
	
	&:after
		content: ''
		width: 95px
		height: 0
		border-top: 1px dashed #808080
		position: absolute
		top: 65px
		right: -63px 
		
		@media (max-width: 1600px)
			width: 70px
			right: -50px
			
		@media (max-width: 1200px) 
			width: 50px
			right: -40px
			top: 55px
			
		@media (max-width: 767px)
			display: none
	
	&__title
		width: 100%
		height: 130px
		position: relative
		z-index: 1 
		margin-bottom: 20px 
		
		@media (max-width: 1200px)  and (min-width: 576px)
			height: 110px
		
		&:before
			content: ''
			width: 130px
			height: 130px
			position: absolute
			top: 0
			bottom: 0
			left: 50%
			transform: translateX(-50%) 
			border-radius: 50%
			border: 1px dashed #808080
			transition: all 0.3s ease
			
			@media (max-width: 1200px) and (min-width: 576px)
				width: 110px
				height: 110px
			
		&:after
			content: ''
			width: 235px
			height: 205px
			position: absolute
			top: 50%
			left: 50%
			transform: translate(-50%, -50%)
			transition: all 0.3s ease
			opacity: 0
			z-index: -1 
			background-image: url(../images/slider-active.svg)
			background-size: 100%  
			background-repeat: no-repeat 
			background-position: 50% 50% 
			
			@media (max-width: 1200px)  and (min-width: 576px)
				width: 180px
			
		.num
			position: absolute
			top: 12px
			left: 50%
			transform: translateX(-50%) 
			font-size: 20px 
			
			@media (max-width: 1200px)  and (min-width: 576px)
				font-size: 18px
				top: 5px 
			
		h3
			position: absolute
			top: 50%
			left: 50%
			transform: translate(-50%, -18px)  
			font-size: 24px 
			width: 230px
			max-width: 100% 
			padding: 3px 0
			transition: all 0.3s ease
			font-weight: normal 
			cursor: default
			background-color: transparent 
			
			@media (max-width: 1200px)  and (min-width: 576px)
				font-size: 20px
				width: 200px 
				transform: translate(-50%, -15px)  
	
	&__content
		font-family: $os
		width: 200px
		margin: 0 auto
		max-width: 100%  
		
		@media (max-width: 1200px)  and (min-width: 576px)
			font-size: 12px 
		

	&.active
		.os-item__title
			&:before
				opacity: 0
				
			&:after
				opacity: 1
				
			h3
				background-color: $blue