.hidden
  display: none

.audioPlayer
    opacity: 0
    visibility: hidden 
    font-size: 14px 
    position: fixed
    left: 0
    bottom: 0
    z-index: 100
    width: 100%
    background-color: #FFF  
    transform: translateY(100%) 
    transition: all .4s ease-out 
    
    &.pause
        transform: translateY(0%) 
        visibility: visible
        opacity: 1
        
    &--wide
        width: 100% 
        display: flex
        flex-wrap: wrap 
        align-items: stretch
        
    &__current
        width: 61.5% 
        display: flex
        align-items: center
        justify-content: space-between
        padding: 0 24px 
        height: 80px 
        div
            *
                display: inline-block
                vertical-align: middle
        .title
            font-size: 21px
            margin-left: 20px  
    &__next
        width: 24.5%
        display: flex
        align-items: center
        justify-content: flex-start
        background-color: #F1F4FF 
        padding: 0 30px 
        .next
            margin-left: 16px
        &__title
            margin-left: 24px 
    &__volumeControls
        width: 14%
        display: flex
        align-items: center
        justify-content: center 
        .silence
            margin-right: 12px 
            cursor: pointer
            img 
                width: 18px
                display: block 
            &.active
                opacity: .8 
    a[download]
        color: #cfc3de 
        display: inline-block
        margin-left: 40px 
        transition: all .2s 
        &:hover
            color: #41117d 
    .prev,
    .next
        background: transparent 
        background-repeat: no-repeat
        background-position: 50% 50% 
        border: none
        box-shadow: none
        color: #41117d 
        background-size: 100% 100% 
        cursor: pointer
    &__play
        width: 40px
        height: 40px
        background-image: url(../images/play.png)
        background-color: transparent
        border: none
        cursor: pointer 
    &.pause
        .audioPlayer__play
            background-image: url(../images/pause.png)
                
.audioPlayer__image
  width: 85px
  height: 85px 
  background-image: url(../images/no_cover.png)
  background-size: 80% auto
  background-position: 50% 50%
  background-repeat: no-repeat  
  
  .cover
    width: 100%
    
.audioPlayer__info 
    width: calc(100% - 85px) 
    display: flex
    flex-wrap: wrap

.audioPlayer__volume 
    div
        float: left
        width: 3px
        height: 20px  
        background-color: #d62595 
        margin: 0 3px 0 0
        cursor: pointer
        transition: all .2s 
        &:last-child
            margin-right: 0
             
    &[data-loud="0"],
    &.disabled
        div
            &:nth-child(n + 1)
                background-color: #ffc8eb  
    &[data-loud="1"]
        div
            &:nth-child(n + 2)
                background-color: #ffc8eb  
    &[data-loud="2"]
        div
            &:nth-child(n + 3)
                background-color: #ffc8eb 
    &[data-loud="3"]
        div
            &:nth-child(n + 4)
                background-color: #ffc8eb 
    &[data-loud="4"]
        div
            &:nth-child(n + 5)
                background-color: #ffc8eb 
    &[data-loud="5"]
        div
            &:nth-child(n + 6)
                background-color: #ffc8eb 
    &[data-loud="6"]
        div
            &:nth-child(n + 7)
                background-color: #ffc8eb 
    &[data-loud="7"]
        div
            &:nth-child(n + 8)
                background-color: #ffc8eb 
    &[data-loud="8"]
        div
            &:nth-child(n + 9)
                background-color: #ffc8eb 
    &[data-loud="9"]
        div
            &:nth-child(n + 10)
                background-color: #ffc8eb 
    &[data-loud="10"]
        div
            &:nth-child(n + 11)
                background-color: #ffc8eb 


.audioPlayer__tracker
    position: relative
    width: 100%
    display: block
    height: 5px 
    background-color: #000 
    background: url(../images/progress.png) 
    background-size: 100% 100%
    background-repeat: no-repeat 
    .progress-bar 
        background-color: #000 
        height: 100%
        width: 100%
        margin: 0 0 0 auto  
        transition: all 3s ease
