.speaker-section
	padding-top: 30px 
	background-image: url(../images/dictor-bg.svg)
	background-size: 100%
	background-position: 50% 30px 
	background-repeat: no-repeat 
	padding-bottom: 0
	
	& + .speakers-slider-section
		padding-top: 40px 

.speaker-content
	width: 68.75%
	padding-right: 30px 
	padding-left: 190px 
	margin-top: -60px 
	
	@media (max-width: 1600px)
		padding-left: 150px 
		
	@media (max-width: 1200px)
		margin-top: 0 
		padding-left: 15px 
		width: 66.66%
		
	@media (max-width: 1020px)
		width: 100%
		padding: 0 15px
	
	.content-block
		background-color: #F1F4FF 
	
.speaker-sidebar
	width: 31.25%
	
	@media (max-width: 1200px)
		width: 33.33%
		padding-right: 15px
		
	@media (max-width: 1020px)
		width: 100%
		margin-top: 30px  
		padding: 0 15px
	


.content-block
	&__header
		padding: 40px 50px
		display: flex
		position: relative
		flex-wrap: wrap
		
		@media (max-width: 1200px)
			padding: 30px
			
		@media (max-width: 767px)
			padding: 30px 15px
		
		.return-back
			position: absolute
			top: 50%
			left: -190px
			transform: translateY(-50%) 
			font-size: 14px
			font-family: $os
			color: #202020
			
			@media (max-width: 1600px)
				left: -150px
				
			@media (max-width: 1200px)
				position: static
				transform: none
				margin-bottom: 15px 
				
			@media (max-width: 767px)
				font-size: 12px 
			
			.fa
				transition: all 0.3s ease
			
			&:hover
				.fa
					transform: translateX(-10px)
				
		.share
			position: absolute
			top: 50%
			right: 50px
			transform: translateY(-50%) 
			color: #424349 
			font-size: 14px
			font-family: $os  
			
			
			@media (max-width: 1200px)
				transform: none
				top: 30px
				right: 30px

			@media (max-width: 767px)
				font-size: 12px 
				right: 15px
			
			&:hover
				text-decoration: underline
			
			.fa
				font-size: 1.25em
				vertical-align: middle 
				
				&:before
					display: block
					

		h2
			font-size: 36px
			color: #040404  
			width: 100%
			
			@media (max-width: 767px)
				font-size: 24px 
			

		&:after
			content: ''
			width: 60%
			height: 1px
			position: absolute
			left: 0
			bottom: 0
			background-color: #25A2D6 
			


	&__body
		padding: 30px 50px 50px
		
		@media (max-width: 1200px)
			padding: 30px
			
		@media (max-width: 767px)
			padding: 30px 15px
		
		&__languages
			font-family: $os
			max-width: 600px 
			
			@media (max-width: 767px)
				font-size: 12px 
			 
			strong
				font-weight: 600
				  
			p
				display: inline-block
				vertical-align: middle
				white-space: nowrap 
				padding-right: 22px 
				
				@media (max-width: 767px)
					padding-right: 15px 
					
				@media (max-width: 575px)
					padding-right: 10px 
				
				img,
				span
					display: inline-block
					vertical-align: middle
					
				img
					width: 22px
					margin-right: 6px
					filter: drop-shadow(0px 0px 2px rgba(0, 0, 0, .2)); 
					
					@media (max-width: 767px)
						width: 18px
						margin-right: 5px 
					
			.lang-item
				color: #373737
				
		&__demo
			padding: 40px 0 35px
			max-width: 600px 
			
			@media (max-width: 767px)
				padding: 25px 0
			

		&__article
			font-family: $os 
			font-size: 14px
			line-height: 1.7em
			margin-bottom: 60px 
			max-width: 600px 
			
			p:not(:last-of-type),
			.projects-list
				margin-bottom: 1.7em 
				
			@media (max-width: 767px)
				margin-bottom: 25px 
				
			.projects-list
				&__title
					margin-bottom: 5px
					color: #d62595  
					font-weight: 600
					
				li
					font-size: 20px
					line-height: 1.8em
					list-style: none  
					
					@media (max-width: 991px)
						font-size: 18px
						
					@media (max-width: 767px)
						font-size: 16px  
					
					a
						color: inherit
						
						&:hover
							text-decoration: underline





.audio
	display: flex
	align-items: center
	
	.play-button
		width: 40px
		height: 40px
		border-radius: 50%
		color: #fff
		border: 0
		background-color: #393939 
		cursor: pointer
		transition: all 0.3s ease
		position: relative
		z-index: 1 
		text-align: center
		
		@media (max-width: 767px)
			width: 32px
			height: 32px
		
		.fa-play
			display: block
			
		.fa-pause
			display: none
		
		&:after
			content: ''
			width: 100%
			height: 100%
			position: absolute
			top: 0
			left: 0
			border-radius: 50%
			background-color: #393939  
			transition: all 0.3s ease
			opacity: 0
			z-index: -1 
			
		&:hover:after
			transform: scale(1.1)
			opacity: 0.5
			
	.audio-title
		width: -webkit-calc(100% - 40px)
		width: calc(100% - 40px)
		padding-left: 20px
		font-size: 22px
		color: #000
		white-space: nowrap
		text-overflow: ellipsis
		overflow: hidden 
		
		@media (max-width: 767px)
			width: -webkit-calc(100% - 32px)
			width: calc(100% - 32px)
			padding-left: 15px
			font-size: 18px  
		

	.pause.play-button
		background: linear-gradient(225deg, rgba(214,37,149,1) 0%, rgba(174,0,255,1) 50%, rgba(64,17,126,1) 100%);
		
		.fa-play
			display: none
			
		.fa-pause
			display: block
		
		&:after
			background: linear-gradient(225deg, rgba(214,37,149,1) 0%, rgba(174,0,255,1) 50%, rgba(64,17,126,1) 100%);



.dictor-slider
	padding: 0 120px
	
	@media (max-width: 1600px)
		padding: 0 40px
		
	@media (max-width: 767px)
		padding: 0 25px
		
	
	.slide
		a
			display: block
		img
			display: block
			width: 100%
			

	.slick-arrow
		background-color: transparent
		width: auto
		height: auto
		font-size: 0
		background-image: none 
		@extend .fa
		
		&.slick-disabled
			opacity: 0.5
		
		&:after
			font-size: 36px
			-webkit-background-clip: text
			-webkit-text-fill-color: transparent
			background-image: linear-gradient(to bottom, rgba(37,161,214,1) 0%, rgba(214,37,149,1) 100%);

		
	.slick-next
		right: 35px
		
		@media (max-width: 1600px)
			right: 0
			
		&:after
			content: '\f105'
			
	.slick-prev
		left: 35px
		
		@media (max-width: 1600px)
			left: 0
			
		&:after
			content: '\f104'
			


.play-list
	&__header
		text-align: center
		background-color: #000
		padding: 40px 30px
		
		@media (max-width: 991px)
			padding: 25px
		
		h4
			font-size: 24px
			color: #fff 
			font-weight: normal 
			
			@media (max-width: 991px)
				font-size: 22px 
			
	&__body
		.audio
			padding: 20px 30px
			
			@media (max-width: 991px)
				padding: 20px
				
			@media (max-width: 575px)
				padding: 10px
			
			&:nth-child(odd)
				background-color: #1A1A1A
				
			&:nth-child(even) 
				background-color: #202020 
				
			.play-button
				background-color: #393939
				&:after
					background-color: #393939
					
			&-title
				color: #fff
				font-size: 18px 
				
				@media (max-width: 991px)
					font-size: 16px 
				@media (max-width: 767px)
					font-size: 14px 
				
	&--double &__body
		display: flex
		align-items: stretch
		justify-content: flex-start
		flex-wrap: wrap
		
		.audio
			width: -webkit-calc(50% - 90px)
			width: calc(50% - 90px)
			margin-right: 90px 
			
			@media (max-width: 1200px)
				margin-right: 40px 
				width: -webkit-calc(50% - 40px)
				width: calc(50% - 40px)
				
			@media (max-width: 991px)
				width: 100%
				margin-right: 0 
			
			@media (min-width: 992px)
				&:nth-child(4n),
				&:nth-child(4n-1)
					background-color: #202020
					
				&:nth-child(4n-2),
				&:nth-child(4n-3)
					background-color: #1A1A1A
				
			&.active
				border-radius: 40px
				background-color: #000 
