.header
	+position(fixed, 0, 0, auto, 0)
	+transition(all, .4s)
	z-index: 100
	&.hasScrolled
		background-color: rgba(0,0,0,.6) 
	
	color: #FFF
	font-size: 16px 
	padding: 20px 50px
	
	@media (max-width: 1200px)
		padding: 15px
		
	@media (max-width: 575px)
		padding: 5px 10px

	.row
		text-align: center
		& > div:first-of-type
			text-align: left

		& > div:last-of-type 
			text-align: right
			
	@media (max-width: 767px)
		.row
			margin: 0 -5px
		.col-xs-4
			padding: 0 5px
	
	.tel
		display: inline-block
		vertical-align: middle
		
		@media (max-width: 991px)
			font-size: 13px 
			
		@media (max-width: 575px)
			font-size: 12px 
			
		@media (max-width: 480px)
			font-size: 10px 
		
	.logo
		display: block
		width: 170px
		margin: 0 auto
		max-width: 100% 
		
		img
			display: block
			max-width: 100% 
			
		@media (max-width: 991px)
			width: 140px

.menu-toggle
	img,
	span
		display: inline-block
		vertical-align: middle
	img
		margin-right: 4px 
		&:last-of-type
			display: none
			width: 17px 
	&.is-active
		img
			&:first-of-type
				display: none
			&:last-of-type
				display: inline-block
		
/* ------------------------------------ */
/*  LANGUAGES  */		
.languages
	list-style-type: none
	display: inline-block
	vertical-align: middle
	font-family: $v
	font-size: 24px  
	margin-left: 30px 
	

	@media (max-width: 991px)
		font-size: 22px
		margin-left: 20px  
		
	@media (max-width: 767px)
		font-size: 20px
		margin-left: 15px
		
	@media (max-width: 575px)
		font-size: 18px
		margin-left: 10px    
		
	@media (max-width: 480px)
		font-size: 16px
		margin-left: 8px  
		
	li
		display: inline-block
		vertical-align: middle

		& + li
			margin-left: 8px 
		
		a
			color: #FFF 
			transition: all .2s
			&:hover
				opacity: .35 
				
/* ------------------------------------ */
/*  PAGE ANCHORS  */

.page-menu
	ul
		list-style-type: none

		li
			display: inline-block
			vertical-align: middle
			margin: 0 10px

			a
				color: #fff
				text-transform: uppercase

/* ------------------------------------ */
/*  SITE NAV  */
.menu-toggle
	position: absolute
	z-index: 101 
	cursor: pointer
	top: 50%
	transform: translateY(-50%)
	
	@media (max-width: 575px)
		font-size: 12px 
	
.site-navigation
	position: fixed
	left: 0
	top: 0
	width: 100%
	height: 100%  
	background-color: #000 
	padding: 0 10.5% 
	transform: translateX(-100%)
	opacity: 0
	visibility: hidden
	transition: all .6s ease-out 
	background-image: url(../images/menu-bg-full.jpg)
	background-size: cover 
	background-position: 50% 50% 
	background-repeat: no-repeat 
	
	&:before,
	&:after
		content: ''
		width: 10.5%
		height: 100%
		position: absolute
		top: 0
		bottom: 0
		left: 0
		background: linear-gradient(to bottom, rgba(0,0,0,1) 0%, rgba(0,0,0,0.85) 50%, rgba(0,0,0,1) 100%)
		transition: all 0.3s ease
		
		@media (max-width: 1200px)
			display: none
			
	&:after
		left: auto
		right: 0
	
	@media (max-width: 1200px)
		padding: 0
	
	&.open
		transform: translateX(0)
		opacity: 1 
		visibility: visible
		
	ul
		list-style-type: none
		display: -webkit-flex
		display: flex
		height: 100% 
		
		@media (max-width: 991px)
			flex-wrap: wrap
			
		
		li
			@media (min-width: 992px)
				flex: 1

			height: 100%
			position: relative
			background-size: 100% auto
			background-position: 50% 50%  
			background-repeat: no-repeat 
			
			
			@media (max-width: 991px)
				width: 100%
				height: 20%
				display: flex
				background-image: none!important 
				
				&:not(:last-child)
					border-bottom: 1px solid #1E1E1E
				
			&:first-child
				a
					border: none 
					
			&:after
				display: block
				content: ''
				left: 0
				top: 0
				position: absolute
				width: 100% 
				height: 100% 
				opacity: 0
				transition: all .2s ease-out  
				background: linear-gradient(to bottom, rgba(37,161,214,1) 0%, rgba(126,99,182,0.75) 50%, rgba(214,37,149,1) 100%)
				
				@media (max-width: 991px)
					background: linear-gradient(to right, rgba(37,161,214,1) 0%, rgba(126,99,182,0.75) 50%, rgba(214,37,149,1) 100%)
				

			&:before
				content: ''
				width: 100%
				height: 100%
				position: absolute
				top: 0
				left: 0
				background: linear-gradient(to bottom, rgba(0,0,0,1) 0%, rgba(0,0,0,0.85) 50%, rgba(0,0,0,1) 100%)
				transition: all 0.3s ease
				
				@media (max-width: 991px)
					background: linear-gradient(to right, rgba(0,0,0,1) 0%, rgba(0,0,0,0.85) 50%, rgba(0,0,0,1) 100%)
				
			a
				display: block
				height: 100%
				padding-top: 70vh 
				text-align: left
				position: relative
				z-index: 2 
				border-left: 1px solid rgba(255,255,255, .15)
				
				@media (max-width: 991px)
					padding: 0
					text-align: center
					display: flex
					align-items: center
					justify-content: center
					width: 100%
					border: 0;
				
				span 
					color: #b2dff1 
					text-transform: uppercase
					font-family: $v
					font-size: 48px  
					padding-left: 10%
					
					@media (max-width: 1600px)
						font-size: 36px 
						
					@media (max-width: 1200px)
						font-size: 30px 
					
					@media (max-width: 991px)
						padding-left: 0 

			
			/*@media (min-width: 992px)
				&:nth-of-type(1)
					background-image: url("../images/menu-1-b.jpg")
					&:after
						background-image: url("../images/menu-1.jpg")
				&:nth-of-type(2)
					background-image: url("../images/menu-2-b.jpg")
					&:after
						background-image: url("../images/menu-2.jpg")
				&:nth-of-type(3)
					background-image: url("../images/menu-3-b.jpg")
					&:after
						background-image: url("../images/menu-3.jpg")
				&:nth-of-type(4)
					background-image: url("../images/menu-4-b.jpg")
					&:after
						background-image: url("../images/menu-4.jpg")
				&:nth-of-type(5)
					background-image: url("../images/menu-5-b.jpg")
					&:after
						background-image: url("../images/menu-5.jpg")*/
					
			&:hover,
			&.active
				a span
					color: #fff
				
				&:after
					opacity: 1 
					@media (max-width: 991px)
						opacity: 0.75
						
				&:before
					opacity: 0
					
					