.offer
	min-height: 600px 
	+flex($d: column, $ai: center, $j: center)
	
	background-image: url("../images/first-section-bg.jpg")
	background-position: 50% 50%
	background-size: cover
	background-color: #000
	color: 	#fff 

	h1
		font-size: 	102px
		font-family: 	$v
		text-transform: uppercase
		span
			color: 	$blue 
			display: inline-block	
			border-bottom: 	6px solid $rose
	
	&__info
		font-size: 	24px 
		padding-left: 30px 
		small
			font-style: italic
		button
			display: block	
			margin-top: 40px 
    
.offer
    position: fixed
    left: 0
    top: 0
    width: 100% 
    height: 100%
    padding: 100px 0 
    .wrapper
        position: relative
        z-index: 2 
    img
        display: block
    small
        display: block
        font-size: 100% 
    h1
        display: inline-block
        position: relative
    .rounded
        box-shadow: 0 0 30px rgba(0,0,0,.8)  
        width: 160px
        height: 160px  
        margin-bottom: 40px 
    &--main
        h1
            &:before
                content: ''
                display: block
                position: absolute
                left: 86.5%
                top: 0
                bottom: 0
                margin: auto 
                width: 410px
                height: 560px
                background-image: url("../images/microphone.png")
                background-size: cover
                background-repeat: no-repeat
                background-position: 50% 50%
    &--center
        height: auto 
        text-align: center
        background-position: 50% 0%
        h1 + *
            margin-top: 20px 
        img
            margin: 10px auto 20px
        .button
            display: block
            margin-left: auto
            margin-right: auto
            margin-top: 30px 
    &--small
        position: static
        padding-bottom: 70px 
        h1
            font-size: 72px   
        .offer__info
            font-size: 18px 

.rounded
    border-radius: 50%
    display: block

#waves-circle
    position: absolute
    left: 0
    top: 0
    right: 0
    bottom: 0
    margin: auto        
    path
        animation: colorchange 12s infinite 

@keyframes colorchange
    20
        fill: #41117d
    50%
        fill: #25A2D6
    80%
        fill: #CC238E
    
.fix-over
    background-color: #FFF
    position: relative
    z-index: 2
    margin-top: 100vh  
    &--waves
        margin-top: 112vh 
    .waves-img
        position: absolute
        left: 0
        top: 0
        width: 100% 
        z-index: 2 
        transform: translateY(-50%)
        & + .section
            padding-top: 160px 
    
