.offer
	height: 100%
	min-height: 660px 
	+flex($d: column, $ai: center, $j: center)
	
	background-image: url("../images/offer-main.jpg")
	background-position: 50% 50%
	background-size: cover
	background-color: #000
	color: 	#fff 

	h1
		font-size: 	102px
		font-family: 	$v
		text-transform: uppercase
		span
			color: 	$blue 
			display: inline-block	
			border-bottom: 	5px solid $rose
	
	&__info
		font-size: 	24px 
		padding-left: 30px 
		small
			font-style: italic
		button
			display: block	
			margin-top: 30px 
.offer
    position: fixed
    left: 0
    top: 0
    width: 100% 
    small
        display: block
    h1
        display: inline-block
        position: relative
        &:before
            content: ''
            display: block
            position: absolute
            left: 86.5%
            top: 0
            bottom: 0
            margin: auto 
            width: 410px
            height: 560px
            background-image: url("../images/microphone.png")
            background-size: cover
            background-repeat: no-repeat
            background-position: 50% 50%
            
.fix-over
    background-color: #FFF
    position: relative
    z-index: 2
    margin-top: 100vh  
    
.parallax
    &.notActive
        .layer
            transition: all .2s         
.img-info
    display: flex
    justify-content: flex-start 
    font-family: $os 
    position: relative
    .img-info__bg
        position: absolute
        top: 40px
        right: 0
    &__text
        padding-top: 230px 
        padding-right: 30px
        line-height: 1.6  
       
    &--type2
    	.img-info__bg
            position: absolute
            bottom: 0
            right: 0
            top: auto
    	.img-info__text
    		padding-top: 60px 

.img-decorated
    padding-top: 30px
    padding-left: 30px  
    position: relative
    img
    	position: relative
    	z-index: 2 
    &__shape
        width: 60px
        height: calc(100% - 30px)   
        background-color: $bluel 
        position: absolute
        left: 0
        top: 0

.offer--slider
	height: 590px
	position: relative
	background: #3D8EB9
	@media (max-width: 600px)
		height: 500px

	.slick-track,
	.slick-list
		height: 100%

	.slide
		+flex ($d:column, $ai:center, $j:center)
		position: absolute
		left: 0
		top: 0
		width: 100%
		height: 100%
		background-position: 50% 50%
		background-repeat: no-repeat
		-webkit-background-size: cover
		-o-background-size: cover
		background-size: cover

		@media (max-width: 800px)
			padding: 0 30px

		h1,
		h2
			color: #fff
			font-size: 50px
			font-weight: 700
			text-align: center

			@media (max-width: 1200px)
				font-size: 40px

			@media (max-width: 800px)
				font-size: 32px

			@media (max-width: 600px)
				font-size: 30px

		.button
			margin-top: 16px
