.order
	display: flex
	align-items: stretch
	flex-wrap: wrap
	
	.left-side,
	.right-side
		position: relative
		width: 50%
		overflow: hidden
		
		@media (max-width: 767px)
			width: 100%
			
	.right-side
		@media (max-width: 767px)
			padding-top: 100%
			
		

.of-header
	padding: 60px 50px
	background: linear-gradient(to right, rgba(214,37,149,1) 0%, rgba(174,0,255,1) 50%, rgba(64,17,126,1) 100%);
	color: #fff
	
	@media (max-width: 991px)
		padding: 30px
		
	@media (max-width: 767px)
		padding: 30px 15px
		text-align: center
	
	h2
		font-size: 37px
		font-weight: normal 
		
		@media (max-width: 991px)
			font-size: 30px
			line-height: normal  
		
		& + p
			font-family: $os
			font-size: 14px 
			margin-top: 15px 
			

.of-body
	padding: 55px 50px
	
	@media (max-width: 991px)
		padding: 30px
		
	@media (max-width: 767px)
		padding: 30px 15px

	form
		max-width: 100%
		margin: 0 auto 
		
	.step-1
		width: 610px
		max-width: 100%
		margin: 0 auto  
		

	.step-2
		width: 450px
		max-width: 100%
		margin: 0 auto 
		

.form-step
	transition: all 0.5s ease
	
	&.step-1
		transform: translateX(0)
		opacity: 1!important
		
		& + .step-2
			display: none
			opacity: 0
			transform: translateX(50px)
			
			&.active
				opacity: 1!important
				transform: translateX(0)
				
		&.not-active
			transform: translateX(-50px)
			opacity: 0!important
	

.audio-radio-group
	padding-top: 15px

	.radio
		margin-left: 0
		margin-right: 0
		width: 100%  
		color: $text
		font-family: $os
		
		&:not(:last-child)
			margin-bottom: 20px 
		
		.indicator
			border-color: #CACACA
		
		input
			&:checked + .indicator
				background-color: #41117D 	
				
		.text
			width: -webkit-calc(100% - 58px)
			width: calc(100% - 58px)
			overflow: hidden
			text-overflow: ellipsis
			white-space: nowrap
				
	.play-button
		margin-right: 10px 
		width: 24px
		height: 24px
		background-color: transparent
		border: 1px solid #41117D
		color: #41117D 
		font-size: 10px
		padding: 0
		border-radius: 50% 
		display: flex
		align-items: center
		justify-content: center
		cursor: pointer
		
		&.male
			border-color: $blue
			color: $blue
			
		&.female
			border-color: $rose 
			color: $rose
		
		.fa-play
			display: block
			
		.fa-pause
			display: none
		&.pause
			.fa-play
				display: none
				
			.fa-pause
				display: block


.fade-slider
	position: absolute
	top: 0
	left: 0
	right: 0
	bottom: 0
	width: 100%
	height: 100% 
	
	.slick-track,
	.slick-list
		height: 100%
		
	.slide
		background-size: cover
		background-position: 50% 50% 