.quoteSlider
    padding: 90px 0
    background-color: #4aaee8
    color: #fff   
    position: relative
    
    &:before
        content: ""
        display: block
        width: 80px
        height: 100%   
        position: absolute
        left: 0
        right: 0
        top: 0
        margin: auto 
        background-color: #1D638C
        opacity: .15  
    h2
        font-size: 30px
        text-align: center
        text-transform: uppercase 
        font-weight: 400 
        letter-spacing: .5em
    .wrapper
        width: 1300px 
        
    &__slider
        margin-top: 50px 
        .quoteSlider__slide
            +flex($d: column, $ai: center, $j: center)
            min-height: 360px 
            position: relative  
            padding-bottom: 20px 
            padding-top: 20px 
            &:before
                display: block
                content: ""
                width: calc((100% - 1300px) / 2)
                height: 1px
                background-color: #8ed0ea 
                position: absolute  
                left: 0px
                top: 0px
                bottom: 0
                margin:     auto 
            &:after
                display: block
                content: ""
                width: calc((100% - 1300px) / 2)
                height: 1px
                background-color: #8ed0ea 
                position: absolute  
                right: 0px
                bottom: 0
            p
                text-transform: uppercase
                font-family: $v
                font-size: 72px  
                position: relative  
                display: inline-block   
                &:before
                    display: block
                    content: ""
                    width: 140px
                    height: 120px
                    background-image: url("../images/quotes.png")
                    background-size: 100% 100%    
                    position: absolute  
                    left: -70px
                    top: -10px
                    transform:  rotate(180deg) 
                &:after
                    display: block
                    content: ""
                    width: 140px
                    height: 120px
                    background-image: url("../images/quotes.png")
                    background-size: 100% 100%    
                    position: absolute  
                    right: -70px
                    top: -10px
            small
                display: block
                font-size: 14px 
        
        .slick-dots li button
            font-size: 18px
            color: #9CDBFF  
            &:before
                display: none
                
    .quoteSlider__sliderNav
        width: 660px
        margin: 30px auto 0
        font-size: 18px
        color: #9CDBFF  
        text-align: center
        div
            min-height: 38px
            position: relative
        i
            cursor: pointer
            font-style: normal
            position: absolute
            left: 0
            bottom: 0
            line-height: 1 
            width: 100%
            text-align: center 
        .slick-track
            min-width: 100% 
        .slick-center
            font-size: 30px 
            color: #FFF 
            i
                line-height: .8 