.quoteSlider
    padding: 90px
    background-color: #4aaee8
    color: #fff   
    h2
        font-size: 30px
        text-align: center
        text-transform: uppercase 
        font-weight: 400 
    .wrapper
        width: 1300px 
        
    &__slider
        .quoteSlider__slide
            p
                text-transform: uppercase
                font-family: $v
                font-size: 72px  
            small
                display: block
                font-size: 14px 